.navbar_name {
	color: yellow;
	text-decoration-line: none;
	font-size: 28px;
}
.navbar-logo {
	width: 60px;
	margin-right: 20px;
}
.navbar_responsive {
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}
.btn-social {
	padding: 5px 9px;
	border-radius: 8px;
	background-color: #6164ff;
	color: white;
	text-align: center;
	font-size: 20px;
}
.btn-connect {
	border: none;
	padding: 10px 19px;
	border-radius: 8px;
	background-color: #6164ff;
	color: white;
	text-align: center;
	font-size: 15px;
}

@media (max-width: 575px) {
	.navbar_responsive {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 10px;
		flex-grow: 0 !important;
		flex-basis: fit-content !important;
		align-items: center;
		margin: 0;
	}
	.social-responsive {
		flex-direction: row !important;
	}
	.navbar-title {
		display: none;
	}
}

@media (max-width: 432px) {
	.navbar_responsive {
		margin-top: 15px;
		flex-grow: 1 !important;
		flex-basis: 50% !important;
		justify-content: start;
		.social-responsive {
			margin-left: 0 !important;
		}
	}
}
