.stake-content {
	padding: 25px;
	background-color: #f59b2f;
	border-radius: 10px;
	.stake-main-content {
		background-color: #16151a;
		border-radius: 10px;
		color: #fff;
		.stake-nft {
			padding: 20px;
			border-bottom: 2px solid #22274f;
		}
		.stake-nft:last-child {
			border: none;
		}
		.img-nft {
			width: 150px;
			border-radius: 10px;
			margin-bottom: 10px;
			max-width: 100%;
			height: auto;
		}
		.nft-value {
			font-size: 12px;
			margin-bottom: 0;
		}
		.stake-collection {
			width: 100%;
			.btn-stake {
				width: fit-content;
				padding: 10px 19px;
				border: none;
				border-radius: 8px;
				background-color: #6164ff;
				color: white;
				text-align: center;
				font-size: 15px;
			}
			.btn-stake:hover {
				background-color: #5758a8;
			}
		}
		.divide-line {
			border-bottom: 2px solid #fff;
			margin: 0;
		}
		.staked-nft {
			padding: 20px;
			border-bottom: 2px solid #22274f;
			width: 100%;
			.text-date {
				font-size: 16px;
				margin-bottom: 0;
			}
			.nft-value {
				margin-left: 25px;
			}
			.staked-collection {
				font-size: 14px;
				justify-content: center;
				align-items: flex-start;
				.available-value {
					color: #ffc90e;
					font-size: 16px;
				}
				.btn-stake {
					width: fit-content;
					padding: 10px 19px;
					border: none;
					border-radius: 8px;
					background-color: #6164ff;
					color: white;
					text-align: center;
					font-size: 12px;
				}
				.btn-stake:hover {
					background-color: #5758a8;
				}
			}
		}
		.staked-nft:last-child {
			border: none;
		}
	}
	.nftdata-spinner {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 575px) {
	.stake-content {
		.stake-title {
			flex-direction: column;
			gap: 15px;
		}
		.stake-main-content {
			.stake-nft {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 15px;
				p {
					text-align: center;
				}
			}
			.staked-nft {
				flex-direction: column;
				align-items: center;
				gap: 30px;
			}
		}
		.nftdata-spinner {
			width: 50px;
			height: 50px;
		}
	}
}

@media (max-width: 432px) {
	.staked-responsive {
		flex-direction: column-reverse;
	}
	.stake-content {
		.stake-main-content {
			.staked-nft {
				.staked-collection {
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
